@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
  margin: 10px;
}
.createBackground {
  background-image: url("../public/image/Sign.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 
